@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Kartverket</h1>
</div>
<div>
    <button onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
    <button onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
</div>