@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <br />
    <br />
    <h1 class="display-1" style="font-family: Mulish-Bold, sans-serif; ">Velkommen til Kartverket</h1>
</div>
<br />
<br />
<div class="text-center">
    <button class="btn btn-primary big-btn" onclick="location.href='@Url.Action("Login", "Account")'">Logg inn</button>
    <button class="btn btn-primary big-btn" onclick="location.href='@Url.Action("Register", "Account")'">Registrer ny bruker</button>
</div>

<style>
.display-1{
        color: #1f2120;
        font-size: 4rem;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        text-align: center;
}
</style>