@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-1">Velkommen til Kartverket</h1>
</div>
<div>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Login", "Account")'">Logg inn</button>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Register", "Account")'">Registrer ny bruker</button>
</div>

<style>
.display-1{
        color: #1A833B;
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.2;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
        text-align: center;
}
</style>